@{ Layout = "~/Views/Shared/_lightLayout.cshtml"; }
@model cms.Models.LoginModel


<style>
#outPopUp {
  position: absolute;
  z-index: 15;
  top: 30%;
  left: 50%;
  margin: -100px 0 0 -150px;
}
</style>



<div id="outPopUp">
    <h2>
        <img src="~/content/Images/Makhado.jpg"><br />
    </h2>

@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()

    @Html.DevExpress().TextBoxFor(m => m.UserName, tb =>
{
    tb.Properties.Caption = "User Name";
    tb.Properties.CaptionSettings.Position = EditorCaptionPosition.Top;
    tb.ShowModelErrors = true;
    tb.Properties.ValidationSettings.Display = Display.Dynamic;
    tb.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.Text;
    tb.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
}).GetHtml()

    @Html.DevExpress().TextBoxFor(m => m.Password, tb =>
{
    tb.Properties.Caption = "Password";
    tb.Properties.Password = true;
    tb.Properties.CaptionSettings.Position = EditorCaptionPosition.Top;
    tb.ShowModelErrors = true;
    tb.Properties.ValidationSettings.Display = Display.Dynamic;
    tb.Properties.ValidationSettings.ErrorDisplayMode = ErrorDisplayMode.Text;
    tb.Properties.ValidationSettings.ErrorTextPosition = ErrorTextPosition.Bottom;
}).GetHtml()

    <br />
 @Html.DevExpress().Button(b =>
{
	b.Name = "Button";
	b.Text = "Log On";
	b.UseSubmitBehavior = true;
	b.ControlStyle.CssClass = "butt";
	b.Width = Unit.Pixel(160);
	b.Height = Unit.Pixel(35);

}).GetHtml()

	<br />
	<br />

	@Html.DevExpress().Button(settings =>
   {
	   settings.Name = "ButtonForgot";
	   settings.Text = "Forgot Password";
	   settings.Styles.Native = true;
	   settings.RouteValues = new { Controller = "Account", Action = "ForgotPassword" };
	   settings.UseSubmitBehavior = true;
	   settings.ControlStyle.CssClass = "butt";
	   settings.Width = Unit.Pixel(160);
	   settings.Height = Unit.Pixel(35);


   }).GetHtml()

}
    <p style="color:red">@ViewBag.ErrorMessage</p>

</div>

 


